{% extends "base.html" %}

{% block title %}Aplicaciones{% endblock %}

{% block content %}
    <h3>Número de Aplicaciones: {{ aplicaciones|length }}</h3>

    {% if aplicaciones %}
        <div class="container; left">
            <table class="table table-striped table-hover align-middle table-bordered" style="white-space: nowrap; overflow-x: auto; float: left">
                <thead class="table-dark text-center">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Aplicación</th>
                    <th scope="col">Origen</th>
                    <th scope="col">Instalar</th>
                    <th scope="col">Favoritos</th>
                    <th scope="col">Notas</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                {% for aplicacion in aplicaciones %}
                    <tr>
                        <th scope="row">{{aplicacion.id}}</th>
                        <td class="align-middle">{{aplicacion.aplicacion}}</td>
                        <td class="align-middle">{{aplicacion.origen}}</td>
                        <td class="align-middle">{{aplicacion.instalar}}</td>
                        <td class="align-middle">{{aplicacion.favoritos}}</td>
                        <td class="align-middle">{{aplicacion.notas}}</td>
                        <td> <div class="container">
		                    <a href="{% url 'aplicaciones:aplicaciones_editar_aplicacion' aplicacion.id %}"
		                       class="btn btn-warning btn-sm me-3">Editar</a>
		                    <a href="{% url 'aplicaciones:aplicaciones_borrar_aplicacion' aplicacion.id %}"
		                       class="btn btn-danger btn-sm ">Borrar</a>
		                </div> </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <p>No hay Aplicaciones disponibles.</p>
    {% endif %}
{% endblock %}