{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} </title>
        <link href="{% static "css/bootstrap.css" %}" rel ="stylesheet">
    </head>
    <body>



        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Inicio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Libros de Informática
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="/libro_informatica">Listado</a></li>
                                <div class="dropdown-divider"></div>
                                <li><a class="dropdown-item" href="/alta_libro">Añadir Libro</a></li>
                                <li><a class="dropdown-item" href="/buscar_libro">Buscar Libro</a></li>
                                <div class="dropdown-divider"></div>
                                <li><a class="dropdown-item" href="/importar_libro">Importar desde CSV</a></li>
                                <li><a class="dropdown-item" href="/exportar_libro">Exportar a CSV</a></li>
                                <li><a class="dropdown-item" href="/exportar_libro_xlsx">Exportar a Excel</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Libros Electrónicos
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="/libro_electronico">Listado</a></li>
                                <div class="dropdown-divider"></div>
                                <li><a class="dropdown-item" href="{% url 'libro_electronico:libro_electronico_alta' %}">Añadir Libro</a></li>
                                <li><a class="dropdown-item" href="{% url 'libro_electronico:libro_electronico_buscar' %}">Buscar Libro</a></li>
                                <div class="dropdown-divider"></div>
                                <li><a class="dropdown-item" href="{% url 'libro_electronico:libro_electronico_importar' %}">Importar desde CSV</a></li>
                                <li><a class="dropdown-item" href="{% url 'libro_electronico:libro_electronico_exportar' %}">Exportar a CSV</a></li>
                                <li><a class="dropdown-item" href="{% url 'libro_electronico:libro_electronico_exportar_xlsx' %}">Exportar a Excel</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Libros de Trenes
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="/libro_trenes">Listado</a></li>
                                <div class="dropdown-divider"></div>
                                <li><a class="dropdown-item" href="{% url 'libro_trenes:libro_trenes_alta' %}">Añadir Libro</a></li>
                                <li><a class="dropdown-item" href="{% url 'libro_trenes:libro_trenes_buscar' %}">Buscar Libro</a></li>
                                <div class="dropdown-divider"></div>
                                <li><a class="dropdown-item" href="{% url 'libro_trenes:libro_trenes_importar' %}">Importar desde CSV</a></li>
                                <li><a class="dropdown-item" href="{% url 'libro_trenes:libro_trenes_exportar' %}">Exportar a CSV</a></li>
                                <li><a class="dropdown-item" href="{% url 'libro_trenes:libro_trenes_exportar_xlsx' %}">Exportar a Excel</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>

    <!-- Bootstrap JS Bundle (incluye Popper) -->
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>

    </body>
</html>