{% extends "base.html" %}

{% block title %}Libros Electrónicos{% endblock %}

{% block content %}
    <h3>Número de libros: {{ libros|length }}</h3>

    {% if libros %}
        <div class="container; left">
            <table class="table table-striped table-hover align-middle table-bordered" style="white-space: nowrap; overflow-x: auto; float: left">
                <thead class="table-dark text-center">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Título</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Serie</th>
                    <th scope="col">Bajado</th>
                    <th scope="col">Notas</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                {% for libro in libros %}
                    <tr>
                        <th scope="row">{{libro.id}}</th>
                        <td class="align-middle">{{libro.titulo}}</td>
                        <td class="align-middle">{{libro.autor}}</td>
                        <td class="align-middle">{{libro.serie}}</td>
                        <td class="align-middle">{{libro.bajado}}</td>
                        <td class="align-middle">{{libro.notas}}</td>
                        <td> <div class="container">
		                    <a href="{% url 'libro_electronico:libro_electronico_editar_libro' libro.id %}"
		                       class="btn btn-warning btn-sm me-3">Editar</a>
		                    <a href="{% url 'libro_electronico:libro_electronico_borrar_libro' libro.id %}"
		                       class="btn btn-danger btn-sm ">Borrar</a>
		                </div> </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <p>No hay libros disponibles.</p>
    {% endif %}
{% endblock %}